{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block css %}{% endblock css %}
{% block body %}
  <h1>회원목록</h1>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">username</th>
      </tr>
    </thead>
    {% for i in user_index %}
      <tbody>
        <tr>
          <th scope="row">{{ i.pk }}</th>
          <th>
            <a href="{% url 'member:detail' i.pk %}">{{ i.username }}</a>
          </th>
        </tr>
      {% endfor %}
    </thead>
  </table>
{% endblock body %}

{% bootstrap_javascript %}